Source: hardwaretest
Section: utils
Priority: optional
Maintainer: Xiaoqiang Liu <lxq@chipsee.com>
Build-Depends: debhelper-compat (= 13),
               qtbase5-dev (>= 5.15),
               qt5-qmake,
               git,
               make,
               g++
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: hardwaretest
Architecture: arm64 armhf
Depends: ${shlibs:Depends}, ${misc:Depends},
         git,
         make,
         g++,
         libqt5serialport5-dev,
         qtdeclarative5-dev,
         qml-module-qtquick2,
         qml-module-qtquick-controls,
         qml-module-qtquick-controls2,
         qtmultimedia5-dev,
         qtconnectivity5-dev,
         gpiod,
         libgpiod-dev
Description: Chipsee Hardware Test Application
 A Qt-based hardware testing suite including hardwaretest and LCDTester.
 This package is intended for ARM embedded systems of Chipsee's products only.
